<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
<!-- head: head bar with -->
<nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment in-padded-tb-mini ty-shadow-small">
    <div class="ui container">
        <div class="ui stackable inverted secondary  menu">
            <h2 class="ui olive header item"> Emrys Yang</h2>
            <a href="#" class="in-item item in-mobile-hide"><i class="home icon"></i>Home </a>
            <a href="#" class="in-item item in-mobile-hide">Categories</a>
            <a href="#" class="in-item item in-mobile-hide"><i class="tags icon"></i>Tags </a>
            <a href="#" class="in-item item in-mobile-hide">Archive </a>
            <a href="#" class="in-item item in-mobile-hide"><i class="chess queen icon"></i>
                About me</a>
            <div class="right in-item menu in-mobile-hide">
                <div class="item">
                    <div class="ui transparent icon input">
                        <input type="text" placeholder="Search content……">
                        <i class="inverted search icon"></i>
                        <!-- <i class="search link icon"></i> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button in-top-right in-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="in-container-small in-padded-tb-spacehuge">
    <div class="ui error message">
        <div class="ui center aligned container">
            <h2 class="ui center aligned icon header">
                <i class="times circle icon"></i>
                404 - Oops, something went wrong!
            </h2>
            <br>
            <br>
            <img src="http://placekitten.com/300/300" alt=" ">
        </div>
    </div>
</div>

<footer th:replace="_fragments :: footer"  class="ui inverted vertical segment in-padded-tb-spacem ">
    <div class="ui center aligned container ">
        <div class="ui inverted divided stackable grid ">
            <div class="three wide column ">
                <div class="ui inverted link list ">
                    <div class="item ">
                        <img src="../../static/images/WCP.jpg" th:src="@{/images/WCP.jpg}" alt=" " class="ui rounded image " style="width: 120px; ">
                    </div>
                </div>
            </div>
            <div class="three wide column ">
                <h4 class="ui inverted header in-text-thin in-text-spaced ">Latest Posts</h4>
                <div class="ui inverted link list ">
                    <a href="# " class="item ">Avangers Series: Captain America</a>
                    <a href="# " class="item ">Avangers Series: Iron Man</a>
                    <a href="# " class="item ">Avangers Series: Loki</a>
                </div>
            </div>

            <div class="three wide column ">
                <h4 class="ui inverted header in-text-thin in-text-spaced ">Contact Me</h4>
                <div class="ui inverted link list ">
                    <a href="# " class="item ">Email: feijun1997@gmail.com</a>
                    <a href="# " class="item ">WeChat: feijun1997</a>
                    <a href="# " class="item ">Facebook: TBA</a>
                </div>
            </div>
            <div class="seven wide column ">
                <h4 class="ui inverted header in-text-thin in-text-spaced ">Emrys Yang</h4>

                <p class="in-trans-low ">This is a personal blog design for posting my personal thoughts, my cats, my artworks, and some interesting short fictions all written originally by me.</p>
            </div>
        </div>
        <div class="ui inverted section divider "></div>
        <p class="in-text-thin in-text-spaced in-trans-mid ">Copyright © 2019 Emrys Yang </p>
    </div>

</footer>

</body>
</html>