<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <!-- head: head bar with -->
    <nav class="ui inverted attached segment in-padded-tb-mini ty-shadow-small">
        <div class="ui container">
            <div class="ui stackable inverted secondary  menu">
                <h2 class="ui olive header item"> Emrys Yang</h2>
                <a href="#" class="in-item item in-mobile-hide"><i class="home icon"></i>Home </a>
                <a href="#" class="in-item item in-mobile-hide">Categories</a>
                <a href="#" class="in-item item in-mobile-hide"><i class="tags icon"></i>Tags </a>
                <a href="#" class="in-item item in-mobile-hide">Archive </a>
                <a href="#" class="active in-item item in-mobile-hide"><i class="chess queen icon"></i>
                    About me</a>
                <div class="right in-item menu in-mobile-hide">
                    <div class="item">
                        <div class="ui transparent icon input">
                            <input type="text" placeholder="Search content……">
                            <i class="inverted search icon"></i>
                            <!-- <i class="search link icon"></i> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button in-top-right in-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!-- middle -->
    <div class="in-container in-padded-tb-spacehuge">

        <div class="ui container">
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <div class="ui segment">
                        <img src="../static/images/mypic.jpg" alt="" class="ui selfpic rounded image">
                    </div>
                </div>

                <!-- side bar on the right-->
                <div class="six wide column ">
                    <!-- Category -->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">

                                    <h3><i class="user icon"></i>About Me</h3>
                                </div>
                            </div>
                        </div>
                        <div class="ui olive segment in-text-fantasy in-text-bigsize">
                            <p style="color: rgb(20, 34, 73)">Emrys is... </p>
                            <p style="color: rgb(30, 50, 107)"> a <i class="cn flag"></i>girl, currently living in <i class="ca flag"></i>VANCOUVER...</p>
                            <p style="color: rgb(39, 60, 119)">Emrys is... </p>
                            <p style="color: rgb(52, 79, 155)"> a junior software/front-end developer; a computer science student...</p>
                            <p style="color: rgb(84, 107, 168)">Emrys is... </p>
                            <p style="color: rgb(97, 96, 172)"> a sketch masker, enjoy board painting and creating original manga stories</p>
                            <p style="color: rgb(125, 94, 175)">Emrys is... </p>
                            <p style="color: rgb(93, 58, 133)"> two cats owner and cat lover... lke all kinds of small animals including jumping spiders</p>
                            <p style="color: rgb(68, 38, 102)">Emrys is... </p>
                            <p style="color: rgb(37, 19, 56)"> a beginner of photographing ...</p>
                        </div>
                        <!-- cate -->
                        <div class="ui up attached segment">
                            <a href="#" target="_blank" class="ui olive basic left in-trans-low horizontal label in-margin-tb-tiny">
                                cyberpunk <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui pink basic left in-trans-low horizontal label in-margin-tb-tiny">
                                cats <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui orange basic left in-trans-mid horizontal label in-margin-tb-tiny">
                                personal projects <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui red basic left in-trans-mid horizontal label in-margin-tb-tiny">
                                original<div class="detail">23</div>
                            </a>
                        </div>
                        <div class="ui up attached segment">
                            <a href="#" target="_blank" class="ui olive basic left pointing in-trans-low horizontal label in-margin-tb-tiny">
                                    cyberpunk <div class="detail">23</div>
                                </a>
                            <a href="#" target="_blank" class="ui orange basic left pointing  in-trans-low horizontal label in-margin-tb-tiny">
                                    cute <div class="detail">23</div>
                                </a>
                            <a href="#" target="_blank" class="ui pink basic left pointing in-trans-mid horizontal label in-margin-tb-tiny">
                                    catlovers <div class="detail">23</div>
                                </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing in-trans-low horizontal label in-margin-tb-tiny">
                                    bedstory <div class="detail">23</div>
                                </a>
                        </div>
                        <div class="ui bottom attched segment">
                            <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                            <a href="#" class="ui qq circular icon button" data-content="623995565" data-position="bottom center" data-variation="inverted"><i class="qq icon"></i></a>
                            <a href="#" class="ui circular icon button"><i class="linkedin icon"></i></a>
                        </div>
                        <div class="ui wechat-qr flowing popup transition hidden">
                            <img src="../static/images/WCP.jpg" alt="" class="ui rouded image" style="width: 100px">
                        </div>
                    </div>
                </div>
                <!-- newly recommand -->

            </div>
        </div>
    </div>
    </div>

    <br>
    <br>
    <br>
    <!-- foot -->
    <footer class="ui inverted vertical segment in-padded-tb-spacem ">
        <div class="ui center aligned container ">
            <div class="ui inverted divided stackable grid ">
                <div class="three wide column ">
                    <div class="ui inverted link list ">
                        <div class="item ">
                            <img src="../static/images/WCP.jpg " alt=" " class="ui rounded image " style="width: 120px; ">
                        </div>
                    </div>
                </div>
                <div class="three wide column ">
                    <h4 class="ui inverted header in-text-thin in-text-spaced ">Latest Posts</h4>
                    <div class="ui inverted link list ">
                        <a href="#" class="item ">Avangers Series: Captain America</a>
                        <a href="#" class="item ">Avangers Series: Iron Man</a>
                        <a href="#" class="item ">Avangers Series: Loki</a>
                    </div>
                </div>

                <div class="three wide column ">
                    <h4 class="ui inverted header in-text-thin in-text-spaced ">Contact Me</h4>
                    <div class="ui inverted link list ">
                        <a href="#" class="item ">Email: feijun1997@gmail.com</a>
                        <a href="#" class="item ">WeChat: feijun1997</a>
                        <a href="#" class="item ">Facebook: TBA</a>
                    </div>
                </div>
                <div class="seven wide column ">
                    <h4 class="ui inverted header in-text-thin in-text-spaced ">Emrys Yang</h4>

                    <p class="in-trans-low ">This is a personal blog design for posting my personal thoughts, my cats, my artworks, and some interesting short fictions all written originally by me.</p>
                </div>
            </div>
            <div class="ui inverted section divider "></div>
            <p class="in-text-thin in-text-spaced in-trans-mid ">Copyright © 2019 Emrys Yang </p>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js "></script>

    <script>
        $('.menu.toggle').click(function() {
            $('.in-item').toggleClass('in-mobile-hide');
        });
        $('.wechat').popup({
            popup: $('.wechat-qr'),
            on: 'hover',
            position: 'bottom center'
        });

        $('.qq').popup();

        $('.selfpic')
            .transition('tada');
    </script>
</body>

</html>