<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tags</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* .fa {
            font-size: 50px;
            cursor: pointer;
            user-select: none;
            color: red;
            rotate: none;
        }
        
        .fa:hover {
            color: red;
        } */
    </style>
</head>

<body>
    <!-- head: head bar with -->
    <nav class="ui inverted attached segment in-padded-tb-mini ty-shadow-small">
        <div class="ui container">
            <div class="ui stackable inverted secondary menu">
                <h2 class="ui olive header item"> Emrys Yang</h2>
                <a href="#" class="in-item item in-mobile-hide"><i class="home icon"></i>Home </a>
                <a href="#" class="in-item item in-mobile-hide">Category </a>
                <a href="#" class="active in-item item in-mobile-hide"><i class="tags icon"></i>Tags </a>
                <a href="#" class="in-item item in-mobile-hide">Archive </a>
                <a href="#" class="in-item item in-mobile-hide"><i class="chess queen icon"></i>
                    About me</a>
                <div class="right in-item menu in-mobile-hide">
                    <div class="item">
                        <div class="ui transparent icon input">
                            <input type="text" placeholder="Search content……">
                            <i class="inverted search icon"></i>
                            <!-- <i class="search link icon"></i> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button in-top-right in-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!-- middle -->
    <div class="in-container-tiny in-padded-tb-spacehuge">
        <div class="ui container">
            <!-- header -->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui olive header">Tags</h3>
                    </div>
                    <div class="right aligned column">
                        total of
                        <h2 class="ui violet header in-trans-high in-inline-block">14</h2> blogs
                    </div>
                </div>
            </div>
            <div class="ui attached segment in-padded-tb-spacelarge in-padded-tiny">
                <a href="#" target="_blank" class="ui pink basic header left pointing in-trans-low large label in-margin-tb-tiny">
                        Catlover <div class="detail">23</div>
                </a>
                <a href="#" target="_blank" class="ui silver basic header left pointing in-trans-low large label in-margin-tb-tiny">
                        Sliver Bean <div class="detail">23</div>
                </a>
                <a href="#" target="_blank" class="ui yellow basic header left pointing in-trans-mid large label in-margin-tb-tiny">
                        Gold Bean <div class="detail">23</div>
                </a>
                <a href="#" target="_blank" class="ui blue basic header left pointing in-trans-mid large label in-margin-tb-tiny">
                        Captain America <div class="detail">23</div>
                </a>
                <a href="#" target="_blank" class="ui red basic header left pointing in-trans-low large label in-margin-tb-tiny">
                        Ironman <div class="detail">23</div>
                </a>


            </div>
        </div>
        <div class="ui top attached olive segment">
            <div class="ui vertical segment in-padded-tb-spacelarge in-mobile-lr-clear in-padded-small">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">A Rainy Night</h3>
                        <p class="in-text-one">AD. 3018, St. Louis, Missouri, USA. I left that damn tobacco-box at the police station. Moran said to himself, sat in his worm-eaten velvet sofa, and put his old pipe back on the coffee table. The household Android in front of
                            him had reached A-level damage.
                        </p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1/100/100" alt=" " class="ui avatar image ">
                                            <div class="content">
                                                <a href="#" class="header">Emrys Yang</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar alternate icon"></i> 2019-08-24
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 60
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column ">
                                    <a href="# " target="_blank " class="ui olive basic in-trans-mid label in-text-thin ">original story</a>
                                    <!-- <a href="# " target="_blank " class="ui olive basic in-trans-mid label in-padded-tiny ">cyberpunk</a> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#" class="ui basic pink in-trans-high left pointing label">Catlover</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column ">
                        <a href="# " target="_blank ">
                            <img src="https://picsum.photos/id/1061/800/450" alt=" " class="ui rounded image ">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui vertical segment in-padded-tb-spacelarge in-mobile-lr-clear in-padded-small">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">A Rainy Night</h3>
                        <p class="in-text-one">AD. 3018, St. Louis, Missouri, USA. I left that damn tobacco-box at the police station. Moran said to himself, sat in his worm-eaten velvet sofa, and put his old pipe back on the coffee table. The household Android in front of
                            him had reached A-level damage.
                        </p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1/100/100" alt=" " class="ui avatar image ">
                                            <div class="content">
                                                <a href="#" class="header">Emrys Yang</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar alternate icon"></i> 2019-08-24
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 60
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column ">
                                    <a href="# " target="_blank " class="ui olive basic in-trans-mid label in-text-thin ">original story</a>
                                    <!-- <a href="# " target="_blank " class="ui olive basic in-trans-mid label in-padded-tiny ">cyberpunk</a> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#" class="ui basic pink in-trans-high left pointing label">Catlover</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column ">
                        <a href="# " target="_blank ">
                            <img src="https://picsum.photos/id/1061/800/450" alt=" " class="ui rounded image ">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui vertical segment in-padded-tb-spacelarge in-mobile-lr-clear in-padded-small">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">A Rainy Night</h3>
                        <p class="in-text-one">AD. 3018, St. Louis, Missouri, USA. I left that damn tobacco-box at the police station. Moran said to himself, sat in his worm-eaten velvet sofa, and put his old pipe back on the coffee table. The household Android in front of
                            him had reached A-level damage.
                        </p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1/100/100" alt=" " class="ui avatar image ">
                                            <div class="content">
                                                <a href="#" class="header">Emrys Yang</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar alternate icon"></i> 2019-08-24
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 60
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column ">
                                    <a href="# " target="_blank " class="ui olive basic in-trans-mid label in-text-thin ">original story</a>
                                    <!-- <a href="# " target="_blank " class="ui olive basic in-trans-mid label in-padded-tiny ">cyberpunk</a> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#" class="ui basic pink in-trans-high left pointing label">Catlover</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column ">
                        <a href="# " target="_blank ">
                            <img src="https://picsum.photos/id/1061/800/450" alt=" " class="ui rounded image ">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui vertical segment in-padded-tb-spacelarge in-mobile-lr-clear in-padded-small">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">A Rainy Night</h3>
                        <p class="in-text-one">AD. 3018, St. Louis, Missouri, USA. I left that damn tobacco-box at the police station. Moran said to himself, sat in his worm-eaten velvet sofa, and put his old pipe back on the coffee table. The household Android in front of
                            him had reached A-level damage.
                        </p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1/100/100" alt=" " class="ui avatar image ">
                                            <div class="content">
                                                <a href="#" class="header">Emrys Yang</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar alternate icon"></i> 2019-08-24
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 60
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column ">
                                    <a href="# " target="_blank " class="ui olive basic in-trans-mid label in-text-thin ">original story</a>
                                    <!-- <a href="# " target="_blank " class="ui olive basic in-trans-mid label in-padded-tiny ">cyberpunk</a> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#" class="ui basic pink in-trans-high left pointing label">Catlover</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column ">
                        <a href="# " target="_blank ">
                            <img src="https://picsum.photos/id/1061/800/450" alt=" " class="ui rounded image ">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached olive segment ">
            <div class="ui middle aligned two column stackable grid ">
                <div class="column ">
                    <a href="# " class="ui olive basic in-trans-low button ">Back</a>
                </div>
                <div class="right aligned column ">
                    <a href="# " class="ui olive basic in-trans-low button ">Next</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>

    <!-- foot -->
    <footer class="ui inverted vertical segment in-padded-tb-spacem ">
        <div class="ui center aligned container ">
            <div class="ui inverted divided stackable grid ">
                <div class="three wide column ">
                    <div class="ui inverted link list ">
                        <div class="item ">
                            <img src="../static/images/WCP.jpg " alt=" " class="ui rounded image " style="width: 120px; ">
                        </div>
                    </div>
                </div>
                <div class="three wide column ">
                    <h4 class="ui inverted header in-text-thin in-text-spaced ">Latest Posts</h4>
                    <div class="ui inverted link list ">
                        <a href="# " class="item ">Avangers Series: Captain America</a>
                        <a href="# " class="item ">Avangers Series: Iron Man</a>
                        <a href="# " class="item ">Avangers Series: Loki</a>
                    </div>
                </div>

                <div class="three wide column ">
                    <h4 class="ui inverted header in-text-thin in-text-spaced ">Contact Me</h4>
                    <div class="ui inverted link list ">
                        <a href="# " class="item ">Email: feijun1997@gmail.com</a>
                        <a href="# " class="item ">WeChat: feijun1997</a>
                        <a href="# " class="item ">Facebook: TBA</a>
                    </div>
                </div>
                <div class="seven wide column ">
                    <h4 class="ui inverted header in-text-thin in-text-spaced ">Emrys Yang</h4>

                    <p class="in-trans-low ">This is a personal blog design for posting my personal thoughts, my cats, my artworks, and some interesting short fictions all written originally by me.</p>
                </div>
            </div>
            <div class="ui inverted section divider "></div>
            <p class="in-text-thin in-text-spaced in-trans-mid ">Copyright © 2019 Emrys Yang </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js "></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js "></script>


    <script>
        $('.menu.toggle').click(function() {
            $('.in-item').toggleClass('in-mobile-hide');
        });
    </script>
</body>

</html>